@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

@keyframes comicPageTurn {
  from {
    opacity: 0;
    transform: translateY(80px) rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
  }
}